{% extends 'base.html' %}

{% block title %} Error 404 {% endblock %}

{% block menu %} {% endblock %}

{% block content %}
<div class="contenido404">
    <p class="error-code">Error <span>404</span></p>
    <p><h4>Ups! Parece que la página que está buscando no existe o ha sido eliminada</h4> </p>
    <p><h5> Puede volver a inicio y usar otro enlace de la web</h5></p>
<div>
    <a href="/" class="button button-outline"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Volver a Inicio</a>
</div>
</div>

{% endblock %}