{% extends 'base.html' %}

{% block title %} Compra/Venta/Intercambio de Criptomonedas {% endblock %}

{% block menu %}
<nav class="navbar">
    <ul>
        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>
            Inicio</a></li>
        <li class="menudisabled"><a><i class="fa fa-exchange" aria-hidden="true"></i>
            Simulador</a></li>
        <li><a href="/status"><i class="fa fa-line-chart" aria-hidden="true"></i>
            Estado Inversión</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<h4>Compra/Venta de Criptomonedas</h4>
    {% for msg in msgError %}
        <p class="err-msg">{{msg}}</p>
    {% endfor %}
    <form action="/purchase" method="POST">
        {{form.hidden_tag()}}
        {% if calculo == False %}
            <table>
                <tr>
                    <td>
                    {{form.from_currency.label}}
                    {{form.from_currency}}
                    {{form.from_cantidad.label}}
                    {{form.from_cantidad}}
                    {% if form.from_cantidad.errors %}
                        {% for msg in form.from_cantidad.errors %}
                            <p class="err-msg">
                                {{msg}}
                            </p>
                        {% endfor %}
                    {% endif %}

                    {{form.calculator(class="calculator")}}
                    </td>
                    
                    <td>
                    {{form.to_currency.label}}
                    {{form.to_currency}}
                    {% if form.to_currency.errors %}
                        {% for msg in form.to_currency.errors %}
                            <p class="err-msg">
                                {{msg}}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{form.to_cantidad.label}}
                    {{form.to_cantidad(disabled="disabled")}}

                    {{form.preciou.label}}
                    {{form.preciou(disabled="disabled")}}
                    </td>
                    {{form.time(hidden=True, disabled="disabled")}}
                </tr>
            </table>
            <div class="homebuttons">
                <p>
                <a href="/purchase" class="button button-outline">Volver a Calcular</a> {{form.aceptar(value="Realizar Operación", class="button", disabled=True)}}
                </p>
            </div>
        {% else %}
            <table>
                <tr>
                    <td>
                    {{form.from_currency.label}}
                    {{form.from_currency(disabled=True, value=form.from_currency.data)}}
                    {{form.from_currency(hidden=True, value=form.from_currency.data)}}
                    
                    {{form.from_cantidad.label}}
                    {{form.from_cantidad(readonly="readonly", value=form.from_cantidad.data)}}
                    
                    {{form.calculator(class="calculator", disabled=True)}}
                    </td>
                    <td>
                    {{form.to_currency.label}}
                    {{form.to_currency(disabled=True, value=form.to_currency.data)}}
                    {{form.to_currency(hidden=True, value=form.to_currency.data)}}
                    
                    {{form.to_cantidad.label}}
                    {{form.to_cantidad(readonly="readonly", value=form.to_cantidad.data)}}
                    
                    {{form.preciou.label}}
                    {{form.preciou(readonly="readonly", value=form.preciou.data)}}
                    </td>
                    {{form.time(hidden=True, value=form.time.data)}}
                </tr>
            </table>
            <div class="homebuttons">
                <p>
                <a href="/purchase" class="button button-outline">Volver a Calcular</a> {{form.aceptar(value="Realizar Operación", class="button")}}
                </p>
            </div>
        {% endif %}
    </form>
{% endblock %}